.rg-image-wrapper{
    position: relative;
    min-height:20px;
    width: 100%;
}
.rg-image{
    position:relative;
    text-align:center;
    line-height:0px;
    object-fit: contain;
}
.rg-image img{
    width: 100%;
    height: auto;
    max-width: 100%;
    border-top: 1px solid #233138;

}
.rg-image-nav a{
    position:absolute;
    top:0px;
    left:0px;
    background: url(../img/gallery/nav1.png) no-repeat -20% 50%;
    width: 28px;
    height:100%;
    text-indent:-9000px;
    cursor:pointer;
    opacity:0.6;
    outline:none;
    z-index: 9999;
}
.rg-image-nav a.rg-image-nav-next{
    right:0px;
    left:auto;
    background-position:115% 50%;
}
.rg-image-nav a:hover{
    opacity: 1;
}
.rg-caption {
    text-align:center;
    margin-top: -75px;
    position:relative;
    background-image: url("../img/bg-title.png");
    background-size: 100px 100px;
    width: 98%;
    height: 75px;
    position: relative;
    padding-left: 2%;
}
.rg-caption p{
    position: relative;
    font-family: 'Didot W01 Italic';
    text-transform: lowercase;
    font-size: 2em;
    width: 100%;
    color: #233138;
    text-align: left;
    top: 13px; 
}

.rg-view{
    height:30px;
    z-index: 99999;
    margin-top: -30px;
    position: relative;
}
.rg-view a{
    float:right;
    width:16px;
    height:16px;
    margin-right:3px;
    background:#464646 url(../img/gallery/views.png) no-repeat top left;
    background:#464646 url(../img/gallery/views.svg) no-repeat top left;
    background-color:#6f6f6f;
    border:3px solid #4c646b;    
    opacity:0.8;
    z-index: 99999;
    
}
.rg-view a:hover{
    opacity:1.0;
}
.rg-view a.rg-view-full{
    background-position:0px 0px;
}
.rg-view a.rg-view-selected{
    border:3px solid #233138;
}
.rg-view a.rg-view-thumbs{
    background-position:0px -16px;
}
.rg-loading{
    width:46px;
    height:46px;
    position:absolute;
    top:50%;
    left:50%;
    background:#000 url(../img/gallery/ajax-loader.gif) no-repeat center center;
    margin:-23px 0px 0px -23px;
    z-index:100;
    opacity:0.7;
}

/* Elastislide Style */
.es-carousel-wrapper{
    padding: 0;
    position:relative;
    margin-bottom: ;
    width: 100%;
    max-width: 100%;
}
.es-carousel{
    overflow:hidden;
    background: ;
}
.es-carousel ul{
    display:none;
}
.es-carousel ul li{
    height:100%;
    float:left;
    display:block;
    opacity: .6;
}

.es-carousel ul li:hover {
    opacity: 1;
    outline: 1px solid #233138;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.es-carousel ul li a{
    display:block;
    border: 1px solid #233138;
    opacity:0.8;
    -webkit-touch-callout:none;
    /* option */
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.es-carousel ul li .selected a{
    opacity:1.0;
}
.es-carousel ul li a img{
    display:block;
    border:none;
    max-height:100%;
    max-width:100%;
    opacity:1.0;
}
.es-nav span{
    position:absolute;
    top:50%;
    left:8px;
    background:transparent url(../img/gallery/nav_thumbs1.png) no-repeat top left;
    width:14px;
    height:26px;
    margin-top:-9px;
    text-indent:-9000px;
    cursor:pointer;
    opacity:0.8;
}
.es-nav span.es-nav-next{
    right:8px;
    left:auto;
    background-position:top right;
}
.es-nav span:hover{
    opacity:1.0;
}